body {
  margin: 0;
  padding:0;
  height:100vh;
  box-sizing: border-box;
}
.app{
  height: 100vh; 
  background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('./images/city.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;


}

.card{
  background-color: whitesmoke;
  width: 40%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border-radius: 25px;
  padding: 2%;
  box-shadow: 10px 10px;
}
.heading {
  display: flex;
  align-items: center;
  height: 580px;
  font-family: 'Pacifico', cursive;


}
.button {
  position: relative;
  outline: none;
  width: 150px;
  height: 210px;
  display: flex;
  cursor: pointer;
  justify-content: center;
  text-transform: uppercase;
  align-items: center;
  text-align: center;
  border-radius: 50px;
  opacity: 1;
  background-color: #ffffff;
  border: 1px solid rgba(22, 76, 16, 0.6 )
  
}

.button span {
  color: #164ca7;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.7px;
}
.button:hover {
animation: rotate 0.7s ease-in-out both;
}
.button:hover span {
  animation: storm 0.7s ease-in-out both;
  animation-delay: 0.06s;
  }
  @media only screen and  (max-width: 600px) {
    .card {
      width: 80%;
      height: 30%;
    }
  }